body {
    background-color: rgb(243, 246, 255);
    color: darkcyan
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
    background-color: darkcyan;
    color: floralwhite;
    margin: 0;
    flex: 1;
    text-align: center;
    display: flex;
}
nav a, nav a:visited {
    text-decoration: none;
    width: 100%;
    padding: 8px 0px;
    color: floralwhite;
}
nav a:hover,nav a.active {
    color: floralwhite;
    background-color: rgb(29, 96, 104);
}
.dropdown-content {
    position: absolute;
    top: 37px;
    width: 16.5%;
    display: none;
    z-index: 20;}
nav li:hover .dropdown-content {
    display:block;}
.dropdown-content a {
    font-weight: bold;
}
.dropdown-content ul {
    flex-direction: column;
}
.card-area{
    display: flex;
    align-self:center;
    justify-content:center;
}
.cardbestselling{
    width: 250px;
    height: 250px;
    background-color:white;
    border-radius: 10px;
    border: 10px solid rgb(29, 96, 104)
}
.picturebestselling{
    width:250px;
    height: 250px;
}
.picture-area{
    display: flex;
    align-self:center;
    justify-content:center;
}
.bestselling{
    display: flex;
    justify-content:center;
    color:floralwhite;
    font-size:40px;
}
.name{
    display: flex;
    justify-content:center;
    font-size:40px;
    color: floralwhite;
    background-color:rgb(70, 168, 172);
}
.pricing{
    display: flex;
    justify-content:center;
    font-family: Sans-serif;
    color:darkcyan;
    font-size:35px;
    border: 3px solid rgb(29, 96, 104)
}
.namewetfood {
    display: flex;
    justify-content:center;
    font-size:40px;
    color: floralwhite;
    background-color:rgb(70, 168, 172);
}
.nameofproduct{
    display: flex;
    justify-content:center;
    color:black;
    font-size:35px;
}
.logo{
    display: flex;
    justify-content:center;
}
.productdesc{
    justify-content:center;
    font-family: Sans-serif;
    color:darkcyan;
    font-size:15px;
    border: 1px solid rgb(70, 168, 172);
}